.shared-styled-link1{
    position: relative;
    width: fit-content;
    span{
        width: fit-content;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--main-color);
        color:#fff;
        font-size: max(14px, 0.85vw);
        padding:max(13.5px, 1vw) max(25px, 2vw);
        border-radius: max(25px, 2vw);
        position: relative;
        z-index: 2;
        transition: 0.325s ease-in-out;
        -webkit-transition: 0.325s ease-in-out;
        min-width: max(120px, 8vw);
        text-align: center;
    }
    .bg{
        border-radius: max(25px, 2vw);
        position: absolute;
        width: 95%;
        height: 100%;
        left: 2.5%;
        bottom:min(-4px, -0.3vw);
        background: var(--shadow);
        transition: 0.35s ease-in-out;
        -webkit-transition: 0.35s ease-in-out;
    }
    &:hover{
        .bg{ bottom: 0; }
        span{
            transform: translateY( max(4px, 0.3vw) );
            -webkit-transform: translateY( max(4px, 0.3vw) );
        }
    }
  }